<a href="https://colab.research.google.com/github/ProgramasParaFisicaDeParticulas/blindsampleanalysiswithcsv5-CarlosRHM/blob/main/readsample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd           #https://pandas.pydata.org
import numpy as np            #https://numpy.org
import plotly.express as px   #https://plotly.com/python/
%matplotlib inline
import plotly.graph_objects as go
 
particles = pd.read_csv('/content/drive/MyDrive/Colab/AnalisisdedatosCMS/Sample5.csv',delimiter=',')
particles

,Run,Event,pt,eta,phi,Q,chiSq,dxy,iso,MET,phiMET
0,173389,489963747,29.3153,-0.1393,1.3561,1,0.8456,-0.0600,0.0000,30.6670,-2.1308
1,173389,490024840,44.1461,-1.3590,-0.5390,1,1.2943,-0.0126,26.3423,27.9521,-2.6686
2,173389,490102189,42.7895,-1.0193,2.3390,-1,0.8078,-0.0840,2.9748,5.1565,0.3061
3,173389,490092121,31.2215,-0.1270,-0.4889,-1,109.9490,0.0723,56.4897,4.2143,-0.1166
4,173389,490193981,36.9668,1.8557,1.3772,1,1.0597,-0.0676,41.4910,20.9963,-1.6251
...,...,...,...,...,...,...,...,...,...,...,...
99995,171369,55073997,89.2292,1.1032,0.7624,-1,0.5443,-0.0168,0.2016,19.2938,2.3639
99996,171369,55221533,37.6914,-1.3926,-0.6669,-1,0.6061,0.0832,0.5965,7.5065,2.1850
99997,171369,55273989,31.2467,-0.1335,0.3830,-1,0.8857,0.0592,23.6527,23.0953,-3.1020
99998,171369,55354925,42.7469,-0.3049,-0.5734,-1,1.4464,0.0818,24.3723,16.4557,2.1887
99999,171369,55346997,36.4015,2.0057,2.0813,1,1.3507,-0.0880,0.5617,48.3986,-1.2394

Analisis eta vs phi